<div class="event-section-title">
    <h2>Eventi in evidenza</h2>
</div>
<% events.forEach(event => { %>
    <a class="containerEvent" href="/event/<%= event.source === 'trento' ? 'trento-' + event.id : event.id %>">
        <div class="event">
            <div class="eventDetails">
                <h2 class="eventTitle"><%= event.title %></h2>
                <p class="eventLocation"><%= event.description %></p>
                <p class="eventDate"><%= event.date.toLocaleDateString('it-IT', {
                        day: '2-digit', month: 'short', year: 'numeric'
                    }) %></p>
            </div>
        </div>
    </a>
<% }) %>
<!--INDICATORE NUMERICO DELLA PAGINA CORRENTE-->
<nav aria-label="Event navigation">
    <ul class="pagination justify-content-center mt-4">
        <% if (current > 1) { %>
            <li class="page-item">
                <a class="page-link" href="/?page=<%= current - 1 %>" tabindex="-1" aria-disabled="true"> &lt; Nuovi eventi</a>
            </li>
        <% } %>
        <% if (nextPage !== null) { %>
            <li class="page-item">
                <a class="page-link" href="/?page=<%= nextPage %>"> Vecchi eventi &gt;</a>
            </li>
        <% } %>
    </ul>
</nav>



