<!--VIEW ADMIN-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= locals.title%></title>
    <meta name="description" content="<%= locals.desc%>">
    <link rel="stylesheet" href="/stylesheets/style.css">  <!--link diretto, senza le sovracartelle pk è nella cartella public -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="header">
        <% if (typeof locals.showLayoutParts === 'undefined' || locals.showLayoutParts) { %>
            <%- include('../partials/header_admin') %>
        <% } %>
    </div>
    <% if (typeof locals.showLayoutCar !== 'undefined') { %>
        <%- include('../partials/carousel') %>

    <% } %>
    <div class="page">
        <div class="grid-layout">
            <div class="sidebar-left">
                <% if (locals.sidebar === 'userSidebar') { %>
                    <%- include(`../partials/sideBars/userSidebarSX`) %>
                <% } %>
            </div>
            <div class="content">
                <main>
                    <%- body %>
                </main>
            </div>
            <div class="sidebar-right">
                <% if (locals.sidebar === 'userSidebar') { %>
                    <%- include(`../partials/sideBars/userSidebarDX`) %>
                <% } %>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</body>
</html>
